body {
  background: black;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#cabecera {
  background: #11e385;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0.5em;
}

#cabecera #logo {
  width: 25px;
  vertical-align: middle;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: bold;
  font-size: 0.8em;
}

#container {
  width: 50%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 25px auto;
}

#container h1 {
  font-size: 20px;
}

#footer {
  background-color: aquamarine;
  color: #333;
  text-align: center;
}
